{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}
<form action="/search" method="GET" class="justify-content-center m-5">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <button id="button-addon2" type="submit" class="btn btn-link text-warning"><img src="{{ url_for('static', filename='images/search.png') }}" width="40" height="30" class="d-inline-block align-top fa fa-search"></a></button>
              </div>
              <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon2" class="form-control border-0 bg-light" name="book" >
            </div>
          </div>
</form>


{% endblock %}
